 @import '../../styles/colors.scss';
.header {
    width: 100%;

    padding: 20px;

    .header-div {

        span {
            font-style: italic;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;

            color: $black;

            margin-left: 5px;

            strong {
                font-weight: 800;
            }

        }

    }
} 
@keyframes header-logo {
    0%{
        stroke-width: 0;
        stroke-dasharray: 1 100;
        fill: transparent;
    }
    25%{
        stroke-width: 0.3;
        stroke-dasharray: 100 0;
        fill: transparent;
    }
    60%,100%{
        stroke-width: 0;
        // fill: $white-dark;
    }
}