@import '../../styles/colors.scss';
.header {
    width: 100%;

    padding: 20px;

    .header-div {

        span {
            font-style: italic;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;

            color: $black;

            strong {
                font-weight: 800;
            }

        }

    }
} 